/* RESET */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* General */
.container {
    width: 60%;
    min-width: 1200px;

}

/* contenuto header */
header {
    margin: 30px;
    text-align: center;
}

h1 {
    color: #e53170;
    font-size: 40px;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

/* Asset */

/* immagine */
.asset {
    width: calc((100% - 60px) / 3);
    background-color: #0f0e17;
    color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    float: left;
    margin: 25px 10px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
}

/* nome + titolo + mail */

h3 {
    text-transform: uppercase;
}

span {
    display: block;
}

a {
    text-decoration: dashed;
    color: #45ccf2;
}